{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% if title %}{{title}}{% else %}Sensai{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css'%}"/>
        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.js'%}"></script>
        <script src="{% static 'js/main.js'%}"></script>
        <script src="{% static 'js/main-table.js' %}"></script>
        <script src="{% static 'js/projects.js' %}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>