{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}

<div class="generic-body-login">
        <div class="modal-dialog generic-modal">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="btn-decoration"><span>Enter New Valid Password</span></div>
                        <button class='btn btn-success'>Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}