{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}

<div class="generic-body-login">
        <div class="modal-dialog generic-modal">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-info">
                        <h2>An email has been sent with instructions to reset your password</h2>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}